.CarosalMain{
position: relative;
top: -16px;

height: 81vh;

}

.carousel-inner {
    display: flex;
  }

  .carousel-item {
    flex: 0 0 100%; /* Flex item width */
    transition: transform 0.6s ease; /* Smooth slide transition */
    height: 81vh;
   
  }

  .carousel-item img{
    object-fit: cover;
    object-fit: fill;
    object-position: center;
    background-size: cover;
  }

  /* For the active slide */
  .carousel-item.active {
    transform: translateX(0);
  }

  /* For the previous and next slides */
  .carousel-item-prev, .carousel-item-next {
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* Hide inactive slides */
  .carousel-item-prev {
    transform: translateX(-100%);
  }

  .carousel-item-next {
    transform: translateX(100%);
  }
