
.AdminContent .searchbar_admin{

    margin-top: 10px;
    height:120px;
}

.AdminContent .searchbar_admin input[type="text"] {
    border: none;
    height: 50px;
    width: 300px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    backdrop-filter: blur(15px);
    border-radius: 40px;
    color: rgb(110,110,110);
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-align: center;
  
  }